.operator-image-clicked, .operator-image-clicked:target{
    background: rgba(0, 0, 0, .6);
    border: 3px solid green;
}

.operator-image:hover {
    border: 3px solid green;
}

#operators-list {
    display: flex;
    text-align: left;
}

#operators-list  img{
    width: 6em;
    height: 3em;
    margin-right: 10px;
}