/*---------------------general-settings--------------------*/

#result-list {
    padding: unset;
}

#card-row {
    /*width: 100%;*/
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    display: inline-flex;
    height: 100%;
    /*margin-left: unset;*/
    margin-bottom: 10px;
}

.card {
    display: inline-block;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    text-align: left;
    background-color: #f1f1f1;
    border-radius: unset;
    border: unset;
}

/*---------------------price--------------------*/
#card-column-price {
    width: 15%;
    float: left;
    margin: unset;
    min-height: 100%;
    display: inline-grid;
}

.grid-container-price {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.grid-item-price {
    /*justify-self: center;*/
    text-align: center;
    /*width: 32%;*/
    /*border: 1px solid black;*/
}

#price-result-text {
    margin: unset;
}

#price-result-text span {
    font-size: 20px;
    color: #4e555b;
}

#price-result-info {
    height: fit-content;
}

/*---------------------operator-package--------------------*/
#card-column-operator {
    width: 16%;
    float: left;
    margin: unset;
    min-height: 100%;
    display: inline-grid;
}

.grid-container-operator-package {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.grid-item-operator-package {
    text-align: center;
    /*border: 1px solid black;*/
}

#term-info-result-container {
    color: #9e9e9e;
    font-size: 15px;
}

.result-operator-image-container {
    width: fit-content;
    display: inline-block;
}

/*---------------------channels--------------------*/
#card-column-channels {
    width: 20%;
    float: left;
    margin: unset;
    min-height: 100%;
    display: inline-grid;
}

.grid-container-channels {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.grid-item-channels {
    text-align: center;
}

#channels-result-text {
    margin: unset;
}

#channels-result-text span {
    font-size: 20px;
    color: #4e555b;
}

#add-extra-channels-length-text {
    margin: unset;
    height: 20px;
}

/*---------------------extra-package--------------------*/
#card-column-extra-packages {
    width: 37%;
    float: left;
    margin: unset;
    min-height: 100%;
    display: inline-grid;
}

#extra-package-main-container {
    display: inline-grid;
}

.extra-package-container > span {
    font-weight: bold;
}

.grid-container-extra-packages {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    /*align-items: center;*/
}

.grid-item-extra-packages {
    display: inline-grid;
}

#extra-package-container {
    display: inline-flex;
}

#result-extra-package-image-container {
    display: flex;
    /*padding-right: 6px;*/
}

#result-extra-package-text-container{
    display: flex;
    align-items: center;
}

#extra-package-name-text {
    color: #8bb328;
}

#extra-packages-text {
    margin: unset;
}

/*---------------------link--------------------*/
#card-column-link {
    width: 12%;
    float: left;
    margin: unset;
    min-height: 100%;
    display: inline-grid;
}

.grid-container-link {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.grid-item-link {
    text-align: center;
}

#link-button {
    border-radius: 4px !important;
    background-color: #dddee0;
    color: grey;
    max-width: 100%;
}

#link-button-icon {
    display: none;
}

/*Change text to icon in link button*/
@media screen and (max-width: 1074px) and (min-width: 1025px) {
    #link-button-icon {
        display: block;
        margin: unset !important;
    }

    #link-button-text {
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    .grid-item-price {
        text-align: center;
        width: unset;
    }

    .container-fluid {
        width: unset;
    }

    #card-row {
        display: inline-grid;
        width: inherit;
    }

    .grid-container-price {
        display: grid;
    }

    .card {
        display: flex;
    }

    #card-column-price {
        display: table-cell;
        width: 100%;
    }

    #card-column-operator {
        display: table-cell;
        width: 100%;
    }

    #card-column-channels {
        display: table-cell;
        width: 100%;
    }

    #card-column-extra-packages {
        display: table-cell;
        width: 100%;
    }

    #extra-packages-info-text {
        text-align: center;
    }

    #extra-package-container {
        justify-content: center;
    }

    #card-column-link {
        display: table-cell;
        width: 100%;
    }
}

/*Mobile*/
@media screen and (max-width: 499px) {
    #main-container {
        padding: unset;
    }

    .section-content {
        padding: 10px;
    }

    .container-fluid {
        padding: unset;
    }

    #main-result-list-container {
        padding: unset;
    }

    #extra-package-container {
        justify-content: unset;
    }
}