#main-result-list-container {
    padding: unset;
    /*margin-bottom: 25px;*/
}

#result-main-segment {
    width: inherit;
    background-color: #fcfcfc;
    padding: 15px 15px 0 15px;
}

#no-result-text {
    margin-bottom: 15px;
}
