#button-group-container{
    display: block;
    margin-top: 30px;
}

#button-group{
    float: right;
}

#go-up-button-container{
    float: left;
}

@media only screen and (max-width: 640px) {
    #button-group-container {
        margin-top: 15px;
    }
    #button-group{
        float: unset;
    }

    #go-up-button-container{
        float: unset;
        margin-bottom: 15px;
    }
}