#main-operator-chooser-container {
    padding: unset;
    margin-bottom: 25px;
}

#operator-main-segment {
    padding: unset;
    /*background-color: #f5f5f5;*/
    background-color: #fcfcfc;
}

#operator-header {
    margin-top: 14px;
    margin-bottom: unset;
    text-align: left;
}

#operator-grid {
    display: flex;
}

#operator-segment {
    display: flex;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #f8f8f8;
}

.operator-container {
    margin-right: 5px;
    margin-left: 5px;
}

.operator-image {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.operator-image:hover, .operator-image-clicked, .operator-image-clicked:target {
    /*border: solid 1px slategrey;*/
    /*!*box-shadow: 0 6px 6px 0 #333;*!*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.25;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-test {
    background-color: rgba(0, 0, 0, 0.5);
}

.no-overlay-background-operator-image:hover .check-hover, .no-overlay-background-operator-image-clicked .check-hover {
    position: absolute;
    margin: -84px 2px 0;
    display: block;
    pointer-events: none;
}

.no-overlay-background-operator-image .check-hover {
    display: none;
    position: absolute;
    margin: -84px 2px 0;
    pointer-events: none;
}

.main-operator-image-container {
    margin: 4px 20px 4px 0;
}

.operator-image-container {
    padding: 5px;
}

@media only screen and (max-width: 620px) {
    #operator-header{
        text-align: center;
    }
    #operator-segment{
        justify-content: center;
    }
}