/*.mainTermChooserContainer{*/
/*    height: 30%;*/
/*}*/

#mainTermChooserContainer{
    margin-top: 45px;
    text-align: center;
}

#mainTermChooserContainer li {
    float: left;
    position: relative;
    padding: 0 18px 0 55px;
    /*text-align: left;*/
    list-style: none;
    cursor: pointer;
}

#mainTermChooserContainer a > span {
    display: block;
    font-size: 18px;
}