.category-type-title{
    width: 10%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#category-channel-list{
    width: 50%;
    height: 100%;
    /*float: right;*/
    right: 0;
    margin: 0;
    display: table-cell;
    text-align: left;
}


.channel-image-clicked, .channel-image-clicked:target{
    background: rgba(0, 0, 0, .6);
    border: 3px solid green;
}

.channel-image:hover {
    border: 3px solid green;
}

#category-image-channel-section  img{
    width: 4em;
    height: 3em;
    margin-right: 10px;
}

.list-group-item{
    display: table;
}
#category-button #category-button:target{
    background:transparent none !important;
}

#category-button:hover {
    background: #E0E1E3 !important;
}

#category-button-clicked {
    background: #E0E1E3 !important;
}

